{% extends 'base.html.2.twig' %}

{% block body_id 'homepage' %}



{#
    the homepage is a special page which displays neither a header nor a footer.
    this is done with the 'trick' of defining empty Twig blocks without any content
#}
{% block footer %}{% endblock %}

{% block body %}



   {#  <img src="Humber Map Resized.png" style="align-content: center;" usemap="#image-map" width="1000px" height="1000px">

     <map name="image-map">
        <area target="" alt="" title="LRC" href="{{ path('admin_index') }}" coords="504,4,746,246" shape="rect">
        <area target="" alt="" title="CTI" href="{{ path('admin_index') }}" coords="755,6,995,248" shape="rect">
        <area target="" alt="" title="H" href="{{ path('admin_index') }}" coords="5,254,246,498" shape="rect">
        <area target="" alt="" title="J" href="{{ path('admin_index') }}" coords="253,255,497,497" shape="rect">
        <area target="" alt="" title="N" href="{{ path('admin_index') }}" coords="504,255,746,496" shape="rect">
        <area target="" alt="" title="GH" href="{{ path('admin_index') }}" coords="755,252,996,497" shape="rect">
        <area target="" alt="" title="F" href="{{ path('admin_index') }}" coords="4,504,248,746" shape="rect">
        <area target="" alt="" title="K" href="{{ path('admin_index') }}" coords="251,502,496,745" shape="rect">
        <area target="" alt="" title="L" href="{{ path('admin_index') }}" coords="504,505,747,746" shape="rect">
        <area target="" alt="" title="M" href="{{ path('admin_index') }}" coords="754,504,996,751" shape="rect">
        <area target="" alt="" title="JF" href="{{ path('admin_index') }}}" coords="5,752,248,996" shape="rect">
        <area target="" alt="" title="LX" href="{{ path('admin_index') }}" coords="254,752,497,992" shape="rect">
    </map>
    #}
{#
    <div class="grid-container">


        <a href="{{ path('admin_index') }}"><div class="item-a zoom" style="background-image: url('bus_terminal.png')"> Buss Terminal</div>
        </a>
        <a href="{{ path('admin_index') }}"><div class="item-a zoom" style="background-image: url('centre_c.png')" >Centre</div>
        </a>
        <a href="{{ path('admin_index') }}"><div class="item-a zoom" style="background-image: url('east_side.png')">East Side</div>
        </a>
        <a href="{{ path('admin_index') }}"><div class="item-a zoom" style="background-image: url('lot_6.png')">Lot 6</div>
        </a>
        <a href="{{ path('admin_index') }}"><div class="grid-item zoom" style="background-image: url('lot_7.png')">Lot 7</div>
        </a>
        <a href="{{ path('admin_index') }}"><div class="grid-item zoom" style="background-image: url('lot_8.png')">Lot 8</div>
        </a>
        <a href="{{ path('admin_index') }}"><div class="grid-item-c zoom" style="background-image: url('lot_9.png')">Lot 9</div>
        </a>
        <a href="{{ path('admin_index') }}"><div class="grid-item-c zoom" style="background-image: url('lot_10.png')">Lot 10</div>
        </a>
        <a href="{{ path('admin_index') }}"><div class="grid-item-c zoom" style="background-image: url('lot_11.png')">Lot 11</div>
        </a>
        <a href="{{ path('admin_index') }}"><div class="grid-item-c zoom" style="background-image: url('lot_3.png')">Lot 3</div>
        </a>
        <div class= "grid-item-b" style="background-image: url('large.png')"> </div>
    </div> #}




    <div class="grid-container">
        <div class= "main">
            <img class="map" src="large.png" alt="imagemap" usemap="#image-map">

            <map name="image-map">
                <area id="lot10" target="" alt="lot10" title="lot10" href="{{ path('admin_index') }}" coords="46,94,214,177" shape="rect">
                <area id="lot9" target="" alt="lot9" title="lot9" href="{{ path('admin_index') }}" coords="47,179,214,245" shape="rect">
                <area id="lot11" target="" alt="lot11" title="lot11" href="{{ path('admin_index') }}" coords="46,246,168,247,168,331,76,339,47,312" shape="poly">
                <area id="centre" target="" alt="Centre" title="Centre" href="{{ path('admin_index') }}" coords="171,247,278,246,278,365,169,333" shape="poly">
                <area id="east" target="" alt="East" title="East" href="{{ path('admin_index') }}" coords="280,446,356,446,357,245,278,245" shape="poly">
                <area id="lot3" target="" alt="lot3" title="lot3" href="{{ path('admin_index') }}" coords="393,293,505,395" shape="rect">
                <area id="bus" target="" alt="busterminal" title="busterminal" href="{{ path('admin_index') }}" coords="489,169,340,175,340,244,485,244" shape="poly">
                <area id="lot7" target="" alt="lot7" title="lot7" href="{{ path('admin_index') }}" coords="216,177,338,244" shape="rect">
                <area id="lot8" target="" alt="lot8" title="lot8" href="{{ path('admin_index') }}" coords="214,91,338,175" shape="rect">
                <area id="lot6" target="" alt="lot6" title="lot6" href="{{ path('admin_index') }}" coords="337,89,455,42,478,77,482,98,482,109,490,167,340,175" shape="poly">

            </map>
        </div>
        <a href="{{ path('admin_index') }}"><div class="a zoom" id="p1" style="background-image: url('bus_terminal 250px.png')"> Buss Terminal</div>
        </a>
        <a href="{{ path('admin_index') }}"><div class="b zoom" id="p2" style="background-image: url('centre_c 250px.png')" >Centre</div>
        </a>
        <a href="{{ path('admin_index') }}"><div class="c zoom" id="p3" style="background-image: url('east_side 250px.png')">East Side</div>
        </a>
        <a href="{{ path('admin_index') }}"><div class="d zoom" id="p4" style="background-image: url('lot_6 250px.png')">Lot 6</div>
        </a>

        <a href="{{ path('admin_index') }}"><div class="f zoom" id="p5" style="background-image: url('lot_8 250px.png')">Lot 8</div>
        </a>
        <a href="{{ path('admin_index') }}"><div class="g zoom" id="p6" style="background-image: url('lot_9 250px.png')">Lot 9</div>
        </a>
        <a href="{{ path('admin_index') }}"><div class="h zoom" id="p7" style="background-image: url('lot_10 250px.png')">Lot 10</div>
        </a>
        <a href="{{ path('admin_index') }}"><div class="i zoom" id="p8" style="background-image: url('lot_11 250px.png')">Lot 11</div>
        </a>
        <a href="{{ path('admin_index') }}"><div class="j zoom" id="p9" style="background-image: url('lot_3 250px.png')">Lot 3</div>
        </a>
        <a href="{{ path('admin_index') }}"><div class="e zoom" id="p10" style="background-image: url('lot_7 250px.png')">Lot 7</div>
        </a>
        <div class="k" style="text-align: center">Select an area</div>
        <div class="k"></div>
    </div>




{% endblock %}
