{% extends 'base.html.2.twig' %}

{% block body_id 'homepage' %}



{#
    the homepage is a special page which displays neither a header nor a footer.
    this is done with the 'trick' of defining empty Twig blocks without any content
#}
{% block footer %}{% endblock %}

{% block body %}



   {#  <img src="Humber Map Resized.png" style="align-content: center;" usemap="#image-map" width="1000px" height="1000px">

     <map name="image-map">
        <area target="" alt="" title="LRC" href="{{ path('admin_index') }}" coords="504,4,746,246" shape="rect">
        <area target="" alt="" title="CTI" href="{{ path('admin_index') }}" coords="755,6,995,248" shape="rect">
        <area target="" alt="" title="H" href="{{ path('admin_index') }}" coords="5,254,246,498" shape="rect">
        <area target="" alt="" title="J" href="{{ path('admin_index') }}" coords="253,255,497,497" shape="rect">
        <area target="" alt="" title="N" href="{{ path('admin_index') }}" coords="504,255,746,496" shape="rect">
        <area target="" alt="" title="GH" href="{{ path('admin_index') }}" coords="755,252,996,497" shape="rect">
        <area target="" alt="" title="F" href="{{ path('admin_index') }}" coords="4,504,248,746" shape="rect">
        <area target="" alt="" title="K" href="{{ path('admin_index') }}" coords="251,502,496,745" shape="rect">
        <area target="" alt="" title="L" href="{{ path('admin_index') }}" coords="504,505,747,746" shape="rect">
        <area target="" alt="" title="M" href="{{ path('admin_index') }}" coords="754,504,996,751" shape="rect">
        <area target="" alt="" title="JF" href="{{ path('admin_index') }}}" coords="5,752,248,996" shape="rect">
        <area target="" alt="" title="LX" href="{{ path('admin_index') }}" coords="254,752,497,992" shape="rect">
    </map>
    #}
{#
    <div class="grid-container">


        <a href="{{ path('admin_index') }}"><div class="item-a zoom" style="background-image: url('bus_terminal.png')"> Buss Terminal</div>
        </a>
        <a href="{{ path('admin_index') }}"><div class="item-a zoom" style="background-image: url('centre_c.png')" >Centre</div>
        </a>
        <a href="{{ path('admin_index') }}"><div class="item-a zoom" style="background-image: url('east_side.png')">East Side</div>
        </a>
        <a href="{{ path('admin_index') }}"><div class="item-a zoom" style="background-image: url('lot_6.png')">Lot 6</div>
        </a>
        <a href="{{ path('admin_index') }}"><div class="grid-item zoom" style="background-image: url('lot_7.png')">Lot 7</div>
        </a>
        <a href="{{ path('admin_index') }}"><div class="grid-item zoom" style="background-image: url('lot_8.png')">Lot 8</div>
        </a>
        <a href="{{ path('admin_index') }}"><div class="grid-item-c zoom" style="background-image: url('lot_9.png')">Lot 9</div>
        </a>
        <a href="{{ path('admin_index') }}"><div class="grid-item-c zoom" style="background-image: url('lot_10.png')">Lot 10</div>
        </a>
        <a href="{{ path('admin_index') }}"><div class="grid-item-c zoom" style="background-image: url('lot_11.png')">Lot 11</div>
        </a>
        <a href="{{ path('admin_index') }}"><div class="grid-item-c zoom" style="background-image: url('lot_3.png')">Lot 3</div>
        </a>
        <div class= "grid-item-b" style="background-image: url('large.png')"> </div>
    </div> #}


    <div style="background-image: url('logo 50px.png');" class="logo"></div>
    <div class="logo-text">Humber Map</div>
    <div class="side-text">Select an Area to publish a comment:</div>

{#
    <div class="grid-container">
        <div class= "main">
            <img class="map" src="Large upd.png" alt="imagemap" usemap="#image-map">

            <map name="image-map">
                <area id="lot10" target="" alt="lot10" href="{{ path('lot10') }}" title="lot10" coords="46,94,214,177" shape="rect">
                <area id="lot9" target="" alt="lot9" href="{{ path('lot9') }}" title="lot9" coords="47,179,214,245" shape="rect">
                <area id="lot11" target="" alt="lot11" href="{{ path('lot11') }}" title="lot11" coords="46,246,168,247,168,331,76,339,47,312" shape="poly">
                <area id="centre" target="" alt="Centre" href="{{ path('centre') }}" title="Centre" coords="171,247,278,246,278,365,169,333" shape="poly">
                <area id="east" target="" alt="East" href="{{ path('east') }}" title="East" coords="280,446,356,446,357,245,278,245" shape="poly">
                <area id="lot3" target="" alt="lot3" href="{{ path('lot3') }}" title="lot3" coords="393,293,505,395" shape="rect">
                <area id="bus" target="" alt="busterminal" href="{{ path('busterminal') }}" title="busterminal" coords="489,169,340,175,340,244,485,244" shape="poly">
                <area id="lot7" target="" alt="lot7" href="{{ path('lot7') }}" title="lot7" coords="216,177,338,244" shape="rect">
                <area id="lot8" target="" alt="lot8" href="{{ path('lot8') }}" title="lot8" coords="214,91,338,175" shape="rect">
                <area id="lot6" target="" alt="lot6" href="{{ path('lot6') }}" title="lot6" coords="337,89,455,42,478,77,482,98,482,109,490,167,340,175" shape="poly">

            </map>

#}


            <div class="grid-container">
                <div class= "main">
                    <img class="map" src="Large upd.png" alt="imagemap" usemap="#image-map">

            <map name="image-map">
                <area id="lot10" target="" alt="lot10" href="{{ path('lot10') }}" title="lot11" coords="7,71,206,171" shape="rect">
                <area id="lot8" target="" alt="lot8" href="{{ path('lot8') }}" title="lot8"  coords="207,70,351,70,353,168,208,170" shape="poly">
                <area id="lot6" target="" alt="lot6" href="{{ path('lot6') }}" title="lot6" coords="351,69,487,14,509,41,518,63,522,92,524,114,526,136,529,161,354,167" shape="poly">
                <area id="lot9" target="" alt="lot9" href="{{ path('lot9') }}" title="lot9" coords="8,173,207,249" shape="rect">
                <area id="lot7" target="" alt="lot7" href="{{ path('lot7') }}" title="lot7" coords="208,171,353,249" shape="rect">
                <area id="bus" target="" alt="busterminal" href="{{ path('busterminal') }}" title="busterminal" coords="528,163,530,191,530,213,530,226,526,250,354,248,354,169" shape="poly">
                <area id="lot11" target="" alt="lot11" href="{{ path('lot11') }}" title="lot11" coords="9,251,154,251,153,350,40,357,9,326" shape="poly">
                <area id="centre" target="" alt="Centre" href="{{ path('centre') }}" title="Centre" coords="154,248,283,251,283,388,155,351" shape="poly">
                <area id="east" target="" alt="East" href="{{ path('east') }}" title="East" coords="375,250,284,480" shape="rect">
                <area id="lot3" target="" alt="lot3" href="{{ path('lot3') }}" title="lot3" coords="415,421,552,305" shape="rect">
            </map>

                </div>

        <a href="{{ path('busterminal') }}"><div class="a zoom" id="p1" style="background-image: url('bus_terminal 250px.png')"> Bus Terminal</div>
        </a>
        <a href="{{ path('centre') }}"><div class="b zoom" id="p2" style="background-image: url('centre_c 250px.png')" >Centre</div>
        </a>
        <a href="{{ path('east') }}"><div class="c zoom" id="p3" style="background-image: url('east_side 250px.png')">East Side</div>
        </a>
        <a href="{{ path('lot6') }}"><div class="d zoom" id="p4" style="background-image: url('lot_6 250px.png')">Lot 6</div>
        </a>

        <a href="{{ path('lot8') }}"><div class="f zoom" id="p5" style="background-image: url('lot_8 250px.png')">Lot 8</div>
        </a>
        <a href="{{ path('lot9') }}"><div class="g zoom" id="p6" style="background-image: url('lot_9 250px.png')">Lot 9</div>
        </a>
        <a href="{{ path('lot10') }}"><div class="h zoom" id="p7" style="background-image: url('lot_10 250px.png')">Lot 10</div>
        </a>
        <a href="{{ path('lot11') }}"><div class="i zoom" id="p8" style="background-image: url('lot_11 250px.png')">Lot 11</div>
        </a>
        <a href="{{ path('lot3') }}"><div class="j zoom" id="p9" style="background-image: url('lot_3 250px.png')">Lot 3</div>
        </a>
        <a href="{{ path('lot7') }}"><div class="e zoom" id="p10" style="background-image: url('lot_7 250px.png')">Lot 7</div>
        </a>
        <div class="k"></div>

    </div>




{% endblock %}
